__pycache__/
venv/
.env
*.pyc
.DS_Store
node_modules/
package-lock.json
package.json# Terraform binaries (HUGE files)
.terraform/
terraform/.terraform/
*.tfstate
*.tfstate.backup

# Mac system junk files
._*
.DS_Store
transvalidate-key.pem
.terraform/
terraform/.terraform/
